* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER SECTION BEGINS HERE */

header {
    color: gray;
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    z-index: 2;
}

header a {
    color: grey;
    text-decoration: none;
    z-index: 2;
}

header button {
    display: none;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: background-color 0.5s ease;
    z-index: 2;
}

header button span {    /* <= in other words the horizontal line on the dropdown button */
    display: block;
    width: 50%;
    height: 1px;
    margin: 5px auto;
    background-color: gray;
}

header button:hover, header button:active {
    background-color: rgb(175, 175, 175);
}

header button:hover .horizontal-line {
    background-color: white;
}

nav {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

ul {
    list-style: none;
    margin: unset;
    padding: unset;
}

.custom-dropdown-menu-container {
    /* padding-top: 10px; */
    position: absolute;
    left: 0%;
    top: -200%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    background-color: whitesmoke;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    transition: top 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1;
}

.custom-dropdown-menu-container-visible {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.custom-dropdown-menu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid grey;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.custom-dropdown-menu li:hover {
    cursor: pointer;
    color: rgb(113, 113, 113);
    background-color: rgb(255, 255, 255);
}

.custom-dropdown-menu li:nth-child(3) {
    border: none;
}

/* HEADER SECTION ENDS HERE */

/* MAIN SECTION BEGINS HERE */

main {
    padding: 10px;
}

main h2, main h4 {
    margin-bottom: 30px;
}

.menu-item {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(206, 206, 206);
}

/* MAIN SECTION ENDS HERE */

@media (max-width: 575px) { /* extra extra small (xxs) devices */
    header button {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 767px) {  /* small devices (xs) */
    header button {
        display: block;
    }
}